<div class="sticky">
    <div class="main-menu main-sidebar main-sidebar-sticky side-menu">
        <div class="main-sidebar-header main-container-1 active">

            <div class="sidemenu-logo">
                <a class="main-logo" href="index.html">
                    <img src="{{ asset('spruha/assets/img/brand/logo-light.png') }}" class="header-brand-img desktop-logo" alt="logo">
                    <img src="{{ asset('spruha/assets/img/brand/icon-light.png') }}" class="header-brand-img icon-logo" alt="logo">
                    <img src="{{ asset('spruha/assets/img/brand/logo.png') }}" class="header-brand-img desktop-logo theme-logo" alt="logo">
                    <img src="{{ asset('spruha/assets/img/brand/icon.png') }}" class="header-brand-img icon-logo theme-logo" alt="logo">
                </a>
            </div>

            <div class="main-sidebar-body main-body-1">
                <div class="slide-left disabled" id="slide-left"><i class="fe fe-chevron-left"></i></div>
                <ul class="menu-nav nav">

                    <!--<li class="nav-header"><span class="nav-label">Dashboard</span></li>-->

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_home')}}">
                            <span class="shape1"></span>
                            <span class="shape2"></span>
                            <i class="ti-home sidemenu-icon menu-icon "></i>
                            <span class="sidemenu-label">Dashboard</span>
                        </a>
                    </li>

                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link with-sub" href="javascript:void(0)">
                            <span class="shape1"></span>
                            <span class="shape2"></span>
                            <i  class="ti-wallet sidemenu-icon menu-icon "></i>
                            <span class="sidemenu-label">Utilisateurs</span>
                            <i class="angle fe fe-chevron-right"></i>
                        </a>
                        <ul class="nav-sub">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Catégories</a></li>
                            <li class="nav-sub-item"> <a class="nav-sub-link" href="{{ path('admin_user_index')}}">Afficher</a></li>
                            <!--
                            <li class="nav-sub-item"><a class="nav-sub-link" href="{{ path('admin_category_add')}}">Créer</a></li>
                            -->
                        </ul>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link with-sub" href="javascript:void(0)">
                            <span class="shape1"></span>
                            <span class="shape2"></span>
                            <i  class="ti-wallet sidemenu-icon menu-icon "></i>
                            <span class="sidemenu-label">Catégories</span>
                            <i class="angle fe fe-chevron-right"></i>
                        </a>
                        <ul class="nav-sub">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Catégories</a></li>
                            <li class="nav-sub-item"> <a class="nav-sub-link" href="{{ path('admin_category_index')}}">Afficher</a></li>
                            <li class="nav-sub-item"><a class="nav-sub-link" href="{{ path('admin_category_add')}}">Créer</a></li>
                        </ul>
                    </li>

                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link with-sub" href="javascript:void(0)">
                            <span class="shape1"></span>
                            <span class="shape2"></span>
                            <i  class="ti-wallet sidemenu-icon menu-icon "></i>
                            <span class="sidemenu-label">Articles</span>
                            <i class="angle fe fe-chevron-right"></i>
                        </a>
                        <ul class="nav-sub">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Articles</a></li>
                            <li class="nav-sub-item"> <a class="nav-sub-link" href="{{ path('admin_post_index')}}">Afficher</a></li>
                            <li class="nav-sub-item"><a class="nav-sub-link" href="{{ path('admin_post_add')}}">Créer</a></li>
                        </ul>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link with-sub" href="javascript:void(0)">
                            <span class="shape1"></span>
                            <span class="shape2"></span>
                            <i  class="ti-wallet sidemenu-icon menu-icon "></i>
                            <span class="sidemenu-label">Commentaires</span>
                            <i class="angle fe fe-chevron-right"></i>
                        </a>
                        <ul class="nav-sub">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Commentaires</a></li>
                            <li class="nav-sub-item"> <a class="nav-sub-link" href="{{ path('admin_comment_index')}}">Afficher</a></li>
                        </ul>
                    </li>

                </ul>
                <div class="slide-right" id="slide-right"><i class="fe fe-chevron-right"></i></div>
            </div>

        </div>
    </div>
</div>