{% extends 'layout.html.twig' %}

{% block final_stylesheets %}
		<!-- DATA TABLE CSS -->
		<link href="{{ asset('spruha/assets/plugins/datatable/css/dataTables.bootstrap5.css') }}" rel="stylesheet" />
		<link href="{{ asset('spruha/assets/plugins/datatable/css/buttons.bootstrap5.min.css') }}"  rel="stylesheet">
		<link href="{{ asset('spruha/assets/plugins/datatable/css/responsive.bootstrap5.css') }}" rel="stylesheet" />
		<!-- Owl-carousel css-->
		<link href="{{ asset('spruha/assets/plugins/owl-carousel/owl.carousel.css') }}" rel="stylesheet" />
		<!-- Mutipleselect css-->
		<link rel="stylesheet" href="{{ asset('spruha/assets/plugins/multipleselect/multiple-select.css') }}">

{% endblock %}

{% block title %}Tableau de bord{% endblock %}
{% block module %}Admin{% endblock %}
{% block action %}Dashboard{% endblock %}

{% block content %}
	
	<!-- row opened -->
	<div class="row row-sm">
		<div class="owl-carousel  owl-theme">
			
			<div class="item">
				<div class="card custom-card">
					<div class="card-body">
						<div class="d-flex no-block align-items-center">
							<div>
								<span class="text-muted tx-13 mb-3">Nb Articles</span>
								<h3 class="m-0 mt-2">{{ nbPosts }}</h3>
							</div>
							<div class="ms-auto mt-auto">
								<img src="../assets/img/svgs/crypto-currencies/btc.svg" class="wd-30 hd-30 me-2" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="item">
				<div class="card custom-card">
					<div class="card-body">
						<div class="d-flex no-block align-items-center">
							<div>
								<span class="text-muted tx-13 mb-3">Nb Utilisateurs</span>
								<h3 class="m-0 mt-2">{{ nbUsers }}</h3>
							</div>
							<div class="ms-auto mt-auto">
								<img src="../assets/img/svgs/crypto-currencies/eth.svg" class="wd-30 hd-30 me-2" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="item">
				<div class="card custom-card">
					<div class="card-body">
						<div class="d-flex no-block align-items-center">
							<div>
								<span class="text-muted tx-13 mb-3">Nb Catégories</span>
								<h3 class="m-0 mt-2">{{ nbCategories }}</h3>
							</div>
							<div class="ms-auto mt-auto">
								<img src="../assets/img/svgs/crypto-currencies/xrp.svg" class="wd-30 hd-30 me-2" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="card custom-card">
					<div class="card-body">
						<div class="d-flex no-block align-items-center">
							<div>
								<span class="text-muted tx-13 mb-3">Nb Commentaires</span>
								<h3 class="m-0 mt-2">{{ nbComments }}</h3>
							</div>
							<div class="ms-auto mt-auto">
								<img src="../assets/img/svgs/crypto-currencies/ltc.svg" class="wd-30 hd-30 me-2" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- row closed -->

	<!-- Row -->
	<div class="row row-sm">
		<div class="col-lg-12">
			<div class="card custom-card">
				<div class="card-body">
					<!--
					<div>
						<h6 class="main-content-label mb-1">Responsive DataTable</h6>
						<p class="text-muted card-sub-title">Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.</p>
					</div>
					-->
					<div class="table-responsive">
						<table class="table table-bordered" id="example2">
							<thead>
								<tr>
									<th class="wd-20p">Actions</th>
									<th class="wd-20p">Date</th>
									<th class="wd-25p">Utilisateur</th>
									<th class="wd-20p">Article</th>
									<th class="wd-20p">Contenu</th>
								</tr>
							</thead>
							<tbody>

								{% for comment in comments %}
									<tr>
										<td>
											<a href="{{ path('admin_comment_delete', {id: comment.id}) }}" class="btn btn-primary btn-sm" onclick="return confirm('Etes-vous certain ?')">Supprimer</a>
										</td>
										<td>{{ comment.createdAt|date }}</td>
										<td>{{ comment.user.displayName }}</td>
										<td>{{ comment.post.title }}</td>
										<td>{{ comment.content }}</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Row -->

{% endblock %}

{% block final_javascripts %}
	<!-- Internal Data Table js -->
	<script src="{{ asset('spruha/assets/plugins/datatable/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('spruha/assets/plugins/datatable/js/dataTables.bootstrap5.js') }}"></script>
	<script src="{{ asset('spruha/assets/plugins/datatable/js/dataTables.buttons.min.js') }}"></script>
	<script src="{{ asset('spruha/assets/plugins/datatable/js/buttons.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('spruha/assets/plugins/datatable/js/jszip.min.js') }}"></script>
	<script src="{{ asset('spruha/assets/plugins/datatable/pdfmake/pdfmake.min.js') }}"></script>
	<script src="{{ asset('spruha/assets/plugins/datatable/pdfmake/vfs_fonts.js') }}"></script>
	<script src="{{ asset('spruha/assets/plugins/datatable/js/buttons.html5.min.js') }}"></script>
	<script src="{{ asset('spruha/assets/plugins/datatable/js/buttons.print.min.js') }}"></script>
	<script src="{{ asset('spruha/assets/plugins/datatable/js/buttons.colVis.min.js') }}"></script>
	<script src="{{ asset('spruha/assets/plugins/datatable/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('spruha/assets/plugins/datatable/responsive.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('spruha/assets/js/table-data.js') }}"></script>
	<script src="{{ asset('spruha/assets/js/select2.js') }}"></script>
	

	<!-- Peity js-->
	<script src="{{ asset('spruha/assets/plugins/peity/jquery.peity.min.js') }}"></script>

	
	<!-- Owl Carousel js-->
		<script src="{{ asset('spruha/assets/plugins/owl-carousel/owl.carousel.js') }}"></script>


	<!-- Internal Dashboard js-->
	<script src="{{ asset('spruha/assets/js/crypto-dashboard.js') }}"></script>

<script>
/*
$(document).ready(function () {
    $('#example2').DataTable({
        order: [[1, 'desc']],
    });
});
*/
</script>


{% endblock %}
