{% extends 'clean.html.twig' %}

{% block title %}Page test liste{% endblock %}

{% block content %}

    <!--
    <ul>
    {% if not is_granted("ROLE_USER") %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
        </li>
    {% endif %}
    </ul>
    -->

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{{ asset('clean/assets/img/home.jpg') }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{ sitename }}</h1>
                        <span class="subheading">{{ category.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

            <!-- Navigation par catégories -->
            {% for category in categories %}
                <a href="{{ path('posts_category', {slug: category.slug}) }}" class="btn btn-primary btn-sm">{{ category.name }}</a>
            {% endfor %}

            <h2>Articles de la catégorie : {{ category.name }}</h2>

    {% for post in category.posts %}
        <!-- Post preview-->
        <div class="post-preview">
            <a href="{{ path('fiche', {slug: post.slug}) }}">
                <h2 class="post-title">{{ post.title }}</h2>
                <img src="{{ post.image }}">
                <h3 class="post-subtitle">{{ post.content | u.truncate(150, '...') | raw }}</h3>
            </a>
            <p class="post-meta">
                Posted by
                <a href="{{ path('posts_author', {id: post.user.id}) }}">{{ post.user.displayName }}</a>
                {{ post.createdAt | ago }}
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />

        <!--<a href="{# path('fiche', {id: post.id}) #}">-->
        <!--
        <a href="{{ path('fiche', {slug: post.slug}) }}">
            <h2>{{ post.title }}</h2>
        </a>
        <div>Rédigé par :  {{ post.user.displayName }}{# dump(post.user) #}</div>
        <div>Rangé dans : {{ post.category }}</div>
        <img src="{{ post.image }}" width="200">
        <div>{{ post.createdAt | ago }}</div>
        <div>{{ post.content | u.truncate(150, '...') | raw }}</div>
        -->
    {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}
